<div class="sign-up-form">
  <h2>Create an Account</h2>
  <div class="input-field">
    <label for="fname">First Name</label>
    <input type="fname" placeholder="Enter First Name" class="form-control" />
  </div>
  <div class="input-field">
    <label for="lname">Last Name</label>
    <input type="lname" placeholder="Enter Last Name" class="form-control" />
  </div>
  <div class="input-field">
    <label for="email">Email</label>
    <input type="email" placeholder="Enter Email" class="form-control" />
  </div>
  <div class="input-field">
    <label for="contact">Contact Number</label>
    <input type="contact" placeholder="Enter Contact Number" class="form-control" />
  </div>
  <div class="input-field">
    <label for="address">Address</label>
    <input type="address" placeholder="Enter Address" class="form-control" />
    <br /><br /><br />
  </div>
  <div class="input-field">
    <label for="username">Username</label>
    <input type="username" placeholder="Enter Username" class="form-control" />
  </div>
  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" class="form-control" />
  </div>
  <div class="input-field">
    <label for="c-password">Confirm Password</label>
    <input type="c-password" placeholder="Enter Confirmed Password" class="form-control" />
  </div>

  <button>Sign Up</button>
  <div class="login">
    <p>Already have an account?</p>
    <button (click)="navigateToLogin()" class="login-button">Login</button>
  </div>

</div>
