body{
  word-wrap: break-word;
}
div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  background-color: #252f3d;
  height: 4rem;
  align-items: center;
}
div button{
  background-color: transparent;
  border: transparent 1px solid;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin: auto;
  align-items: center;
}
#logout{
  background-color: rgb(230, 29, 29);
  box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.5);
  padding: auto 40px;
}
div button:hover{
  border: 1px solid white;
  border-radius: 5px;
}
